@charset "utf-8";

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.body{
    font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
	  padding-top: 50px;
}
.navbar-lower
{
	margin-top: 50px
}
.bg-grey {
      background-color: #f6f6f6;
  }
  
.container-fluid {
      padding: 60px 50px;
  }
  
.b1{
	padding-bottom:20px;
	padding-top:30px;
	color:white;
	background-color:#f4511e;
}
	 