<section class="card register">
  <form class="form-signin" name="myform"
  ng-submit="register()"
  novalidate>

    <div class="form-signin-heading">
      <h1>Register</h1>
      <p>To access site features</p>
      <p class="message" ng-show="message">{{message}}</p>
    </div>

    <fieldset>
      <input class="form-control input-lg" type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
      <p class="errorvalidation" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Cần nhập First name</p>

      <input class="form-control input-lg" type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
      <p class="errorvalidation" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Cần nhập Last name</p>


      <input class="form-control input-lg" type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
      <p class="errorvalidation" ng-show="myform.email.$invalid && myform.email.$touched">Cần một địa chỉ email hợp lệ !!!</p>

      <input class="form-control input-lg" type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
      <p class="errorvalidation" ng-show="myform.password.$invalid && myform.password.$touched">Cần nhập một mật khẩu hợp lệ !!!</p>

    </fieldset>

    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="myform.$invalid">Register</button>
    <span class="pull-right"><a ng-href="#/register">Register</a></span><span><a href="#">Need help?</a></span>
    
    
  </form>

</section>
